/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

/* MAIN */

main{
    height:calc(100vh - 80px);
    background-color: violet;
}

/* nav */

.nav{
    width:300px;
    height:100%;
    background-color: blue;
    display: inline-block;
    float:left;
    padding-left:10px;
}

.nav li{
    padding-top:10px;
}

/* navtop */
.navtop{
    height:calc(100vh - 150px);
    width:100%;
    background-color: blueviolet;
    color:lightgray;
    overflow-y: auto;

}

.navtop .logo{
    width:60%;
    padding-bottom:20px;
}

.navtop ul{
    list-style:none;
}

.navtop li a{
    text-decoration: none;
    color:gray;
    font-weight: bolder;
    font-size:.8em;
}

.navbar li i{
    font-size: 1.8em;
    vertical-align: middle;

}

.navbar-text{
    vertical-align: middle;
}

.navbar{
    margin-bottom:20px;
}

.navtop h3{
    font-size: 1em;
}

.logo-create-navbar{
    font-size: 3em;
    vertical-align: middle;

}

.navbar-text-playlist{
    font-size:1.2em;
}

/* navdown */
.navdown{
    height:70px;
    width:100%;
    background-color: chocolate;
}

.installa-app-box{
    border-bottom:1px solid gray;
    padding-bottom:10px;
}

.installa-app-box a{
    font-size: .8em;
    text-decoration: none;
    color:gray;
}

.installa-app-box i{
    padding-right:10px;
}

.utente-bar{
    padding-top:10px;
}
.username{
    color:white;
    font-weight: bold;
    vertical-align: middle;
}

.user-logo{
    font-size: 1.5em;
    color:gray;
    vertical-align: middle;
}
/* content */
.content{
    width:calc(100vw - 300px);
    height:100%;
    background-color: aquamarine;
    float:left;
    display: inline-block;
}

/* FOOTER */

footer{
    height:80px;
    background-color: yellow;

}