/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* COMMON  */

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #1d1d1d;
}

.container-1{
    width:100%;
    height:100vh;
    overflow:hidden;
}

.container{
    width:95%;
    margin: 0 auto;
}

/* MAIN */

main{
    height:calc(100vh - 80px);
    width:100%;
    background-color: violet;
    overflow: hidden;
}

/* nav */

.nav{
    width:200px;
    height:100%;
    background-color: black;
    display: inline-block;
    float:left;
}

.nav a:hover{
    color:white;
}

/* navtop */
.navtop{
    display: flex;
    flex-direction:column;
    height:calc(100% - 70px);
    min-height:350px;
    width:100%;
    background-color: black;
    overflow: hidden;
    color:white;
}

.navtop a{
    margin-left:10px;
}


.navtop .logo{
    width:50%;
    padding-bottom:20px;
    padding-top:5px;
    padding-left: 10px;
}

.navtop ul{
    list-style:none;
}

/* navtop-navbar */
.navbar{
    width:100%;
    margin-bottom:20px;
}

.navbar li{
    padding-bottom:5px;
}

.navtop li a{
    text-decoration: none;
    color:#808080;
    font-weight: bolder;
    font-size:.8em;
}

.navbar-text{
    vertical-align: middle;
}


.navbar li a img{
    width:30px;
    vertical-align: middle;
}

.navbar-text{
    vertical-align: middle;
}

.navtop h3{
    font-size: 1em;
    padding-left: 10px;
}

/* navtop-playlist */
.logo-create{
    font-size: 3em;
    vertical-align: middle;
    color:#808080;
}

.playlistbar a{
    text-decoration: none;
    color:#808080;
}

.playlistbar{
    flex-grow:1;
    overflow-y: hidden;
}

.playlistbar ul{
    overflow-y: auto;
    height:80%;
}

.playlistbar li{
    padding-bottom:5px;
}


.navbar-text-playlist{
    font-size:1.2em;
}

/* navbottom */
.navbottom{
    height:70px;
    width:100%;
}

.installa-app-box{
    padding-bottom:10px;
    padding-left:10px
}

.installa-app-box a{
    font-size: .8em;
    text-decoration: none;
    color:gray;
}

.installa-app-box i{
    padding-left:5px;
}

.installa-app-text{
    padding-left:10px;
}

.utente-bar{
    padding-top:10px;
    padding-left:10px;
}

.grey-bar{
    width:80%;
    border:1px solid gray;
    margin:0 auto;
}

.username{
    color:white;
    padding-left:10px;
    font-weight: bold;
    vertical-align: middle;
}

.user-logo img{
    width:20px;
    height:20px;
    color:gray;
    vertical-align: middle;
    border:1px solid white;
    border-radius: 50%;
    background-color: #808080;
}

/* mediaquery navbar */

@media screen and (max-width:600px){

    .nav{
        width:50px;
        height:calc(100vh - 80px);
    }

    .logo img{
        display: none;
    }

    .logo{
        content:url(../img/logo-small.svg);
        margin:0 auto;
    }

    .navtop .logo{
        padding-left: 0px;
        width:80%;
    }

    .navtop-content{
        padding-left: 0px;
    }
    .nav .playlistbar li{
        display:none;
    }

    .navtop h3{
        display:none;
    }

    .navbar-text{
        display: none;
    }

    .navtop i{
        display:block;
        text-align: center;
    }

    .username{
        display:none;
    }

    .installa-app-box{
        text-align: center;
    }

    .installa-app-text{
        display:none;
    }

    .installa-app-box a{
        color: white;
    }

    .installa-app-box i{
        padding-right:0px;
    }

    .installa-app-box{
        border:none;
    }
    .utente-bar{
        text-align: center;
    }
}

/* content */
.content{
    width:calc(100vw - 200px);
    height:100%;
    padding-top:60px;
    padding-bottom:20px;
    background-color: aquamarine;
    float:left;
    display: inline-block;
    overflow-y:auto;
}

/* effettua upgrade */

.effettua-upgrade{
    position: fixed;
    top:0;
    left:0;
    height:60px;
    width:100%;
    background-color: rgba(0, 0, 0, .5);
    
}

.upgrade-btn{
    display:inline-block;
    float:right;
    line-height: 60px;
    margin-right:20px;    
}

.upgrade-btn a{
    border:2px white solid;
    border-radius:40px;
    text-decoration: none;
    color:white;
    font-size: .8em;
    padding: 10px 20px 10px 20px;
    transition: 1s;
}

.upgrade-btn a:hover{
    padding: 15px 25px 15px 25px;
}

/* menu */

.menu-song{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
}

.menu-song ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-around;
    align-items: center;
}

.menu-song li{
    padding:10px;
}

.menu-song li a{
    text-decoration: none;
    font-size: .9em;
    color:gray;

}

.menu-song li:first-child{
    position:relative;
}

.underlined-menu{
    width: 50%;
    border: 2px solid green;
    margin: 0 auto;
    position:absolute;
    left:30px;
}

.menu-song li a:hover{
    color:white;
}

/* recently played */

.recently-played{
    width:100%;
    margin-top:40px;
}

.recently-played h2{
    color:white;
    padding-bottom:20px;
}

.album{
    height:30vh;
    width:100%;
    background-color: brown;
    display:flex;
    /* flex-wrap: wrap; */
}

.recently-played-box{
    justify-content: space-around;
}
.album-item{
    border:1px solid black;
    width:160px;
    height:100%;
}

.album-photo{
    height:70%;
    border:3px solid blue;
}

.album-photo img{
    width:100%;
    height:100%;
}

.album-name{
    height:30%;
    border:2px solid red;
    text-align: center;
}

.album-label{
    font-size: 1em;
    font-weight: bold;
    color:white;
}

.album-artist{
    font-size: .8em;
    color:gray
}

/* john doe */

.john-doe {
    margin-top:50px;
}

.john-doe h2{
    color:white;
}

.title-john-doe{
    padding-bottom:30px;
    background-color: blue;
}

/* popular artist */

.popular-artist {
    margin-top:50px;
}

.popular-artist h2{
    color:white;
}

.title-popular-artist{
    padding-bottom:30px;
    background-color: blue;
}

/* FOOTER */

footer{
    height:80px;
    width:100%;
    background-color: yellow;

}